# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Projects files
!WNOS.sln
!WNOS.vcxproj
!WNOS.vcxproj.filters
!WNOS.vcxproj.user

# Sources files
!main.cpp
